<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">
    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i>Logs de Acesso
        </h1>
    </div>
    <!-- end col --> 
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-8">
        <!-- Button trigger modal -->
      <a href="javascript:history.go(-1)" class="btn btn-primary btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-reply"></i> Voltar</a>
    </div>
</div>
<!-- end row -->

<section id="widget-grid" class=""> 
    <!-- START ROW -->
    <div class="row">

        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-filtro">
                <header>
                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                    <h2>Filtros </h2>
                </header>  
                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body no-padding"> 
                        <div id="order-form" class="smart-form">
                            <fieldset>
                                <div class="row-fluid">
                                    <section class="col col-4">
                                        <label class="label">Nome de usuário</label>
                                        <label class="input">
                                            <input type="text" name="name" placeholder="Nome de usuário">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">Período inicial</label>
                                        <label class="input"> <i class="icon-append fa fa-calendar"></i>
	                                        <input type="text" name="DTH_INICIO" placeholder="Pedido inicial" class="datepicker hasDatepicker" data-dateformat="dd/mm/yy" id="Text1">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">Período final</label>
                                        <label class="input"> <i class="icon-append fa fa-calendar"></i>
	                                        <input type="text" name="DTH_TERMINO" placeholder="Pedido final" class="datepicker hasDatepicker" data-dateformat="dd/mm/yy" id="Text2">
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary" id="btn-filtro">
                                    Buscar
                                </button>
                            </footer>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
    </div>
</section>

<section id="widget-grid-lista">  
    <!-- START ROW -->
    <div class="row">

        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">  

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-lista">
                <header>
                    <span class="widget-icon"><i class="fa fa-table"></i></span>
                    <h2>Listagem</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body no-padding">  
                        <div class="alert alert-warning no-margin fade in">
							<button class="close" data-dismiss="alert">×</button>
							<i class="fa-fw fa fa-info"></i>
							Não existe itens a serem exibidos.
						</div>                  
                        <table id="datatable_tabletools" class="table table-striped table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Usuário</th>
                                    <th class="text-center" width="10%">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>rodrigoarf</td>
                                    <td class="text-center">
                                        <a class="btn btn-xs btn-success" href="#../../Views/LogAcesso/Edit.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>rodrigoarf</td>
                                    <td class="text-center">
                                        <a class="btn btn-xs btn-success"  href="#../../Views/LogAcesso/Edit.html">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <footer class="widget-footer">
                            <div class="text-center">
                                <ul class="pagination">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-chevron-left"></i></a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:void(0);">1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">2</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">3</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">4</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">5</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </footer>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
    </div>
</section>

